MAGENTO_BASE_URL=http://magento2.mftf/
MAGENTO_BACKEND_NAME=admin
MAGENTO_ADMIN_USERNAME=admin
MAGENTO_ADMIN_PASSWORD=Admin123
BROWSER=chrome
MODULE_WHITELIST=Unity_Mftf
SELENIUM_HOST=seleniummftf
SELENIUM_PORT=4444
SELENIUM_PROTOCOL=http
SELENIUM_PATH=/wd/hub
CUSTOM_MODULE_PATHS=/var/www/html/app/code/*/*/Test/Mftf
